.option{
    font-family: 'Maven Pro', sans-serif;
    height: 60px;
}
.option ul{
    margin : 0px;
    padding: 0px;
}
.option ul li{
    list-style: none;
    float: left;
    display: block;
    line-height: 60px;
    padding: 0px 40px 0px 40px;
    margin-top: 10px;

}
#lhtv{
    background-color: #7fbc28;
    border-radius: 50px;
    color: white;
}